<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sell.dao.CourseMapper" >
    <resultMap id="courseMap" type="sell.pojo.Course" >
        <result column="courseId" property="courseId" jdbcType="VARCHAR" />
        <result column="courseName" property="courseName" jdbcType="VARCHAR" />
        <result column="teacherName" property="teacherName" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="startTimes" property="startTimes" jdbcType="TIMESTAMP" />
        <result column="eddTimes" property="eddTimes" jdbcType="TIMESTAMP" />
    </resultMap>
    <select id="findAllCourse" resultMap="courseMap">
        select * from course;
    </select>
    <delete id="deleteCourse" parameterType="String">
        delete from course where courseId=#{courseId};
    </delete>
    <insert id="addCourse" parameterType="sell.pojo.Course">
        insert into course (courseId,courseName,teacherName,address,startTimes,eddTimes) values (#{courseId},#{courseName},#{teacherName},#{address},#{startTimes},#{eddTimes});
    </insert>
    <update id="updateCourse" parameterType="sell.pojo.Course">
        update course set courseId=#{courseId},courseName=#{courseName},teacherName=#{teacherName},address=#{address},startTimes=#{startTimes},eddTimes=#{eddTimes} where courseId=#{courseId};
    </update>
</mapper>