<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sell.dao.TeacherMapper" >
    <resultMap id="projectMap" type="sell.pojo.Project" >
        <id column="projectId" property="projectId" jdbcType="BIGINT" />
        <result column="applicant" property="applicant" jdbcType="VARCHAR" />
        <result column="projectName" property="projectName" jdbcType="VARCHAR" />
        <result column="startTime" property="startTime" jdbcType="TIMESTAMP" />
        <result column="eddTime" property="eddTime" jdbcType="TIMESTAMP" />
        <result column="statius" property="statius" jdbcType="BIGINT" />
        <result column="fileProject" property="filePjoject" jdbcType="VARCHAR" />
        <result column="fileEnd" property="fileEnd" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findAllProject" resultMap="projectMap">
        select * from project;
    </select>
    <delete id="deleteProject" parameterType="int">
        delete from project where projectId=#{projectId};
    </delete>
    <insert id="addPjoject" parameterType="sell.pojo.Project">
        insert into project (projectId,applicant,projectName,startTime,eddTime,statius,fileProject,fileEnd,remark) values (#{projectId},#{applicant},#{projectName},#{startTime},#{eddTime},#{statius},#{fileProject},#{fileEnd},#{remark});
    </insert>
    <update id="updateProject" parameterType="sell.pojo.Project">
        update project set projectId=#{projectId},applicant=#{applicant},projectName=#{projectName},startTime=#{startTime},eddTime=#{eddTime},statius=#{statius},fileProject=#{fileProject},fileEnd=#{fileEnd},remark=#{remark} where projectId=#{projectId};
    </update>
    <!--    模糊查询-->
    <select id="findProject" resultMap="projectMap">
        select * from project where applicant=#{applicant} and projectName=#{projectName};
    </select>
    <!--    管理员审核进行状态修改-->
    <update id="checkProject" parameterType="sell.pojo.Project">
        update project set statius=#{statius} where projectId=#{projectId};
    </update>
<!--    教师撤销申请，状态变更为失效-->
    <update id="anniuAProject" parameterType="sell.pojo.Project">
        update project set statius=#{statius} where projectId=#{projectId};
    </update>
<!--教师提交成果上传，状态变更为2-->
    <update id="anniuBProject" parameterType="sell.pojo.Project">
        update project set statius=#{statius},fileProject=#{fileProject} where projectId=#{projectId};
    </update>
<!--    教师提交论文，状态变更为4-->
    <update id="anniuCProject" parameterType="sell.pojo.Project">
        update project set statius=#{statius},fileEnd=#{fileEnd} where projectId=#{projectId};
    </update>

</mapper>