<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sell.dao.TeacherMapper" >
    <resultMap id="teacherMap" type="sell.pojo.Teacher">
<!--        <id column="teacherId" property="teacherId" jdbcType="BIGINT" />-->
        <result column="teacherId" property="teacherId" jdbcType="VARCHAR" />
        <result column="teacherName" property="teacherName" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="faculty" property="faculty" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="VARCHAR" />
    </resultMap>
    <select id="findAllTeacher" resultMap="teacherMap">
        select * from teacher;
    </select>
    <delete id="deleteTeacher" parameterType="String">
        delete from teacher where teacherId=#{id};
    </delete>
    <insert id="addTeacher" parameterType="sell.pojo.Teacher">
        insert into teacher (teacherId,teacherName,sex,faculty,phone,age) values (#{teacherId},#{teacherName},#{sex},#{faculty},#{phone},#{age});
    </insert>
    <update id="updateTeacher" parameterType="sell.pojo.Teacher">
        update teacher set teacherId=#{teacherId},teacherName=#{teacherName},sex=#{sex},faculty=#{faculty},phone=#{phone},age=#{age} where teacherId=#{teacherId};
    </update>
</mapper>